



.block__source{
  margin-left: 50px;
  height: 4.0rem;
  width: 90vw;
  background-color: rgb(92, 191, 195);
  margin-bottom: 50px;
}

 .btn__source{
  display: inline-block;
  text-align: center;
  padding-top: 0.5em;
   /* align-items: center; 
  justify-content: center; */
  margin: auto 50px;
  width: 9rem;
 
  height:100% ;
  border: 5px solid #000;
  background-color: blueviolet;
  border-radius: 20px;
}

.source{
    color: azure;
  
  font-size: 2em;
   
  text-decoration: underline;
    
} 