@import "source.css";
@import "begin.css";

h1{
  margin: 30px;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
  margin: 30px;
  font-size: 40px;
  font-family:  Geneva, Verdana, sans-serif;
  font-style: italic;

}

.wrapp{
  box-sizing:content-box ;
  width: 90vw;
  height: 100vh;
  background: lightblue;
  border:2px solid blue;
  margin-left: 50px;

}

.header{
  display: flex;
  width: 90vw;
  height: 15vh;
  background:#cccfff;
}

/*LOGO*/
.header__side-logo{
  background: lightcyan;
  width: 14vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header__place-logo{
  width: 75px;
  height: 75px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  border-radius:50% ;
  
}

/*nav*/

.header__sideNav{
  width: 80vw;
  background-color: transparent;
   


  
}

.header__sideList{
  display: flex;
 
justify-content: space-around;
align-items: center; 
width: 80%;
height: 100%;
   margin-left:100px;
   border: 5px solid transparent;
  /* margin-top: 45px; */
}


.header__sideItems{
  font-size: 25px;
  
}
.block {
   display: flex; 
  
   flex-grow:1;
}

.block__left {
  width: 15vw;
  height: 75vh;
  background: rgb(109, 283, 234);
}
.block__main {
  width: 70vw;
  height: 75vh;
  background: rgb(229, 233, 134);
}
.block__right {
  width: 15vw;
  height: 75vh;
  background: rgb(29, 283, 234);

}

.footer{
  width: 90vw;
  height: 10vh;
  background-color: blueviolet;
}
.ul__block-list {
}
.block__item {
}